/*	8.04	*/

/*.container {
	background:url('/static/img/msc_main2.png') no-repeat 20px 60px;
}*/

@font-face {
	font-family: "NanumGothic-Bold";
	src: url('/static/fonts/NanumGothicBold.ttf');
	src:url('/static/fonts/NanumGothicBold.eot');
	src:url('/static/fonts/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/NanumGothicBold.woff') format('woff'),
	url('/static/fonts/NanumGothicBold.ttf') format('truetype');
	url('/static/fonts/NanumGothicBold.svg#NanumGothicBold') format('svg')
	src:local(※), url('/static/fonts/NanumGothicBold.woff') format('woff');
}
@font-face {
	font-family: "NanumGothic-ExtraBold";
	src: url('/static/fonts/NanumGothicExtraBold.ttf');
	src:url('/static/fonts/NanumGothicExtraBold.eot');
	src:url('/static/fonts/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/NanumGothicExtraBold.woff') format('woff'),
	url('/static/fonts/NanumGothicExtraBold.ttf') format('truetype');
	url('/static/fonts/NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg')
	src:local(※), url('/static/fonts/NanumGothicExtraBold.woff') format('woff');
}
@font-face {
	font-family: "NanumGothic-Regular";
	src: url('/static/fonts/NanumGothic-Regular.ttf');
	src:url('/static/fonts/NanumGothic-Regular.eot');
	src:url('/static/fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/NanumGothic-Regular.woff') format('woff'),
	url('/static/fonts/NanumGothic-Regular.ttf') format('truetype');
	url('/static/fonts/NanumGothic-Regular.svg#NanumGothic-Regular') format('svg')
	src:local(※), url('/static/fonts/NanumGothic-Regular.woff') format('woff');
}

*:focus{
	outline:0 !important;
}

html, body{
	min-width:1380px !important;
	width:100% !important;
}
#Header_div_second{
	font:900 18px "Nanum Gothic";
	
}
.container							{ 
	font-family: "Nanum Gothic";
	-webkit-font-smoothing: antialiased !important;
 	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
 	text-shadow:0 1px 0 rgba(255,255,255,.25);
}
/* 안티 앨리어싱 스무쓰 */
.container div,.container p, .container span, .container a, .container input, .container table { 
	-webkit-font-smoothing: antialiased !important;
 	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
 	text-shadow:0 1px 0 rgba(255,255,255,.25);
}
#Header_div_first {
	background-color: #4c4c4c;
	color: #ffffff;
	font-size: 14px;
	padding: 7px 0 0 0;
	height: 21px;
}
#Header_div_first > div {
	margin-left:auto;
	margin-right:auto;
	padding-right:160px;
	width:1280px;
}
#Header_div_first input {
	color: #4c4c4c;
	font-size: 12px;
}
#Header_div_first a {
	font: 11px 'NanumGothic-Regular';
	color: #e5e5e5;
	text-decoration: none;
}
#Header_div_first p {
	text-align:right;
	font-size:11px;
	margin-bottom:0;
}
#Header_div_first div form a:hover {
	border-bottom: solid 1px #ffffff;
}
#Header_div_first form a{
	margin-left: 9px;
}
#Header_div_first form a:last-child{
	margin:0 5px 0 15px;
}
#Header_div_first input{
	margin-left: 3px;	
}
#Header_div_first form input{
	margin-left: 2px;	
}
#Header_div_first form input:nth-child(5) {
	margin-left: 7px !important;	
}
#Header_div_first span {
	margin: 0 5px 0 5px;	
	font-size:10px;
}
#Header_div_second > div div:nth-child(2) {
	padding-right: 90px;
}
#Header_div_second {
	background-color: #4c4c4c;
	color: #ffffff !important;
	font-size: 14pt;
	height: 82px;
	font-weight:bold;
}
#Header_div_second > div{
	margin-left:auto;
	margin-right:auto;
	width:1280px;
}
#Header_div_second > div  ul li ul{
	background-color: #4c4c4c;
	padding:0;
	border-radius : 0;
}
#Header_div_second > div ul li:first-child ul{
	margin-left:-45px;
}
#Header_div_second > div ul li:nth-child(2){

	font-size:25px;
	font-weight:100;
}
#Header_div_second > div ul li:nth-child(3) ul{
	margin-left:-50px;
}
#Header_div_second > div ul li:nth-child(4){
	padding-top:4px;
	font-size:25px;
	font-weight:100;
}	
#Header_div_second > div ul li:nth-child(5) ul{
	margin-left:-50px;
}
#Header_div_second > div ul li:nth-child(6){
	padding-top:4px;
	font-size:25px;
	font-weight:100;
}
#Header_div_second > div ul li:nth-child(7) ul{
	margin-left:-47px !important;
}
#Header_div_second > div ul li ul li{
	border-top:solid 1px #5e5e5e;
}
#Header_div_second > div ul li ul li a {
	color: #ffffff;
	font-size: 15px;
	font-family:"NanumGothic-Regular";
	height:40px;
	padding-top:9px;
}
.dropdown-menu a:hover {
	background-color: #5e5e5e !important;
}
#Header_div_second > div ul li {
	text-align: center;
}
#Header_div_second > div > div:nth-child(2) > ul > li > a {
	color: #ffffff;
	font-family: 'NanumGothic-ExtraBold';	
	padding: 0 0 2px 0;
	background-color:#4c4c4c;
}
#Header_div_second > div > div:nth-child(2) > ul > li > a:hover {
	color:#e0e730;
}
#Header_div_second > div > div:first-child {
	margin-left: 145px;
}
#Header_div_second > div > div:nth-child(2) > ul {
	float: right !important;
	padding-top:29px;
	margin:auto;
}
#Header_div_second > div > div:nth-child(2) > ul > li{
	margin-left: 115px;
	height:52px;
}
#Header_div_second > div > div:nth-child(2) > ul > li >a:hover{
	color:#e0e730 !important;
}
#Header_div_second > div > div:nth-child(2) > ul > li:first-child {
	margin-left: 0px;
}
#Header_div_second > div > div:nth-child(2) > ul > li:nth-child(2), 
#Header_div_second > div > div:nth-child(2) > ul > li:nth-child(4), 
#Header_div_second > div > div:nth-child(2) > ul > li:nth-child(6) {
	color:#ffffff !important;
}
#Header_div_second > div > div:nth-child(2) > ul > li:last-child {
	padding-right: 7px;
	margin-left: 113px;
}
#Header_div_second > div > div:nth-child(2) > ul > li > a > p {
	font-size: 14px !important; 
	font-weight:bold;
	font-family: 'NanumGothic-Bold';	
}
.Change_menulength {
	margin-left: 78px !important;
}
.Change_menulength ul {
	margin-left: -50px !important;
}

#Main_row_container{
	width:1280px;
	margin-left:auto;
	margin-right:auto;
}
.Main_image {
	/*background-image: url(/static/img/Main_picture.png);*/
	display: block;
	width: 1280px;
	margin: 0 0 0 145px;
	position: relative;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.Main_row {
	height: 280px;
	margin: 28px 145px 42px 160px;
}
.Main_row > div:first-child {
	width: 280px;
	margin-right: 55px;
	height: 100%;
	float: left;
}
.Main_row > div:first-child table {
	width:100%;
	margin-bottom:30px;
	height:105px;
}
.Main_row > div:first-child table th,
.Main_row > div:first-child table td
{
	border-bottom:dotted 1px #c9c9c9;
	height:26px;
}
.Main_row > div:first-child table th:last-child {
	text-align:right;
	padding-right:7px;
}
.Main_row > div:first-child table tr td:first-child {
	background: url('/static/img/Notice_icon2.png') no-repeat 0 11px;
	padding:1px 0 4px 0;
}
.Main_row > div:first-child table tr td:first-child a {
	font: normal 12px 'NanumGothic-Regular';
	color:#252525;
	padding-left:8px;
}
.Main_row > div:first-child table tr td:last-child {
	text-align:right;
	color:#313131;
	font-family:'NanumGothic-Bold';
	font-size:10px;
	padding:2px 0 1px 0;
}
.Main_row > div:first-child th {
	font-size:10.5pt;
	color:#252525;
	font-family:'NanumGothic-ExtraBold';
	padding-bottom:6px;
}
.Main_row > div:first-child div:first-child table th:first-child span {
	color:#ff8b00;
}
.Main_row > div:first-child div:first-child table th:last-child a:hover {
	text-decoration:none;
}
.Main_row > div:first-child div:first-child table th:last-child span {
	font-size:10px;
	color:#959595 !important;
}
#Main_Notice_Table2 th:first-child span {
	color:#e75627;
}
#Main_Notice_Table2 th:last-child a:hover {
	text-decoration:none;
}
#Main_Notice_Table2 th:last-child span {
	font-size:10px;
	color:#959595 !important;
}

.Main_row > div:nth-child(2) {
	height: 100%;
	width: 280px;
	margin-right: 54px;
	float: left;
}
/*
.Main_row > div:nth-child(2) > div {
	width:170px;
	font-size:12px;
	color:#252525;
	padding-top:20px;
}
.Main_row > div:nth-child(2) > div:first-child > img {
	margin: -34px 0 0 8px;
}
.Main_row > div:nth-child(2) > div:first-child > a > img {
	margin: 21px 0 0 -3px;
}
.Main_row > div:nth-child(2) > div:last-child {
	margin-left:20px;
}
.Main_row > div:nth-child(2) > div:last-child > img{
	margin:-34px 0 0 8px;
}
.Main_row > div:nth-child(2) > div:last-child > a > img{
	margin:21px 0 0 -3px;
}
.Main_row > div:nth-child(2) > div > p:first-child{
	font-size:18px;
	font-family: 'NanumGothic-ExtraBold';
}
.Main_row > div:nth-child(2) > div > p:first-child span{
	color:#2eaae0;
}
*/
.Main_row > div:last-child {
	float: left;
	width:290px;
	height: 100%;
	text-align: left;	
}
.Main_row > div:last-child > div:first-child {
	height:115px;
	background-color:#f8f8f8;
	margin-bottom:13px;
	border:solid 3px #e5e5e5;
}
.Main_row > div:last-child > div:first-child > p:nth-child(2) {
	margin-bottom:0;
}
.Main_row > div:last-child > div:last-child {
	height:115px;	
	border:solid 3px #e5e5e5;
	background-color:#ffffff;
	text-align:left;
}	

.member_join_table{
	width:100%;
}
.member_join_table tr td:first-child{
	color:#252525;
	font-size:12pt;
}

/* 08 . 05 */
/* TuTEE_APPLY */
.tutee_application_table {
	width:900px;
	height:460px;
	font:10.5pt 'NanumGothic';
	color:#000000;	
}
.tutee_application_table select{
	width:138px;
	height:24px;
	background:transparent url('/static/img/Tutee_apply_Select') no-repeat right;
	border:solid 1px #c2c2c2;
	color:#252525;
	-webkit-appearance:none;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	outline:none;
    text-indent: 0.01px;
    text-overflow: '';
   }
.tutee_application_table td {
	border:solid 1px #000000;
}
.tutee_application_table tr td:first-child {
	width:104px;
	height:25px;
}
.tutee_application_table tr td:nth-child(2) {
	width:161px;
}
.tutee_application_table tr td:nth-child(3) {
	width:106px;
}
.tutee_application_table tr td:nth-child(4) {
	width:224px;
}
.tutee_application_table tr td:nth-child(5) {
	width:106px;
}
.tutee_application_table tr td:nth-child(6) {
	width:193px;
}
.tutee_application_table tr:nth-child(3) td{
	height:51px;
}
.tutee_application_table tr:nth-child(4) td{
	height:51px;
}
.tutee_application_table tr:nth-child(5) td{
	height:303px;
}
.tutee_application_table tr:nth-child(5) td:last-child{
	height:100%;
}
.tutee_application_table tr:nth-child(5) textarea{
	resize:none;
	border:none;
	padding:0;
	background-color:#eeeeee;
	-moz-box-shadow:   2px 2px 0.5px 0.5px #CDCDCD inset;
   -webkit-box-shadow: 2px 2px 0.5px 0.5px #CDCDCD inset;
   box-shadow:         2px 2px 0.5px 0.5px #CDCDCD inset;
   margin-bottom:-2px;
}
.tutee_apply_title > div{
	font:18pt 'NanumGothic-Bold';
	color:#000000;
	margin:40px 0 20px 0;
}
.tutee_apply_Head{
	text-align:center;
}
.tutee_apply_Head > p{
	width:961px;
	text-align:left;
	border-bottom:solid 3px #bdbdbd;
	color:#252525;
	font: 23pt 'NanumGothic-Bold';
	margin:30px auto 0 auto;
	padding-bottom:20px;
}
.tutee_apply_Head > p img{
	margin-bottom:4px;
}
.tutee_apply_footer input{
	font: 12px 'NanumGothic-Bold';
	margin:50px 0 70px 0;
	border:none;
	width:46px;
	height:26px;
	outline:none;
}
.tutee_apply_footer input:first-child {
	background:url('/static/img/tutee_back2.png') no-repeat;
	color:#2eaae0;
	margin-right:10px;
}
.tutee_apply_footer input:nth-child(2) {
	background:url('/static/img/tutee_apply2.png') no-repeat;
	color:#ffffff;
}


/* TuTOR_APPLY */
.tutor_application_table {
	width:900px;
	height:545px;
	font:10.5pt 'NanumGothic';
	color:#000000;	
}
.tutor_application_table select{
	width:168px;
	height:21px;
	background:transparent url('/static/img/Tutor_apply_Select') no-repeat right;
	border:solid 1px #c2c2c2;
	color:#252525;
	-webkit-appearance:none;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
    text-indent: 0.01px;
    text-overflow: '';
    }
.tutor_apply_second_select{
	width:118px !important;
	height:21px;
	background:transparent url('/static/img/Tutor_apply_Select') no-repeat right;
	border:solid 1px #c2c2c2;
	color:#252525;
	-webkit-appearance:none;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
    text-indent: 0.01px;
    text-overflow: '';	
}
.tutor_application_table td {
	border:solid 1px #000000;
}
.tutor_application_table tr td textarea{
	resize:none;
	border:none;
	padding:0;
	background-color:#eeeeee;
	-moz-box-shadow:   2px 2px 0.5px 0.5px #CDCDCD inset;
   -webkit-box-shadow: 2px 2px 0.5px 0.5px #CDCDCD inset;
   box-shadow:         2px 2px 0.5px 0.5px #CDCDCD inset;
   margin-bottom:-2px;
}
.tutor_application_table tr td input{
	border:none;
	padding:0;
	background-color:#eeeeee;
}
.tutor_application_table tr td:first-child{
	width:104px;
	height:25px;
}
.tutor_application_table tr td:nth-child(2){
	width:161px;
	height:25px;
}
.tutor_application_table tr td:nth-child(3){
	width:106px;
	height:25px;
}
.tutor_application_table tr td:nth-child(4){
	width:224px;
	height:25px;
}
.tutor_application_table tr td:nth-child(5){
	width:106px;
	height:25px;
}
.tutor_application_table tr td:nth-child(6){
	width:193px;
	height:25px;
}
.tutor_apply_input_tr1{
	height:150px;
	outline:none;
}
.tutor_apply_input_tr1 td:last-child{
	height:100% !important;
}
.tutor_apply_input_tr2{
	height:183px ;
	outline:none;
}
.tutor_apply_input_tr2 td{
	height:183px !important;
}
.tutor_apply_input_tr2 td:last-child{
	height:100% !important;
}
/* select default arrow remove in IE, Firefox*/
select::-ms-expand {
    display: none;
}
select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}



/* 8. 06 */

#Header_div_third{
	height:32px;
	background-color:#959595;
	width:100%;	
}
#Header_div_third > div{
	width:1280px;
	margin: 0 auto;
	height:100%;
}
#Header_div_third a:first-child input{
	width:56px;
	background-color:#00257b;
	color:#ffffff;
	font: 9pt 'NanumGothic-Bold';
	height:100%;
	border:none;
	margin-left:160px;
}
#Header_div_third a:last-child input{
	width:73px;
	background-color:#626262;
	color:#ffffff;
	font: 9pt 'NanumGothic-Bold';
	height:100%;
	border:none;
	margin-left:-4px;
}
.LOGIN_div2{
	padding:7px 22px 10px 23px;
}
.LOGIN_div2 p:first-child {
	font:9pt 'NanumGothic-ExtraBold';
	color:#252525;
}
.LOGIN_div2 p:last-child {
	text-align:right;
}
.LOGIN_div2 p:last-child a {
	font:7.5pt 'NanumGothic-ExtraBold';
	color:#626262;
}
.LOGIN_div2 p:last-child a:last-child {
	margin-left:11px;
}
.LOGIN_div2 p:last-child a:hover{
	border-bottom:solid 1px #a8a8a8;
}
.LOGIN_div2 p:first-child span {
	color:#e5004f;
}
.LOGIN_div_Enter_idpw{
	width:170px;
	height:47px;
	float:left;
}
.LOGIN_div_Enter_idpw input{
	width:168px;
	height:21px;
	border:solid 1px #959595;
}
.LOGIN_div_Enter_idpw input:first-child {
	margin-bottom:5px;
}
.LOGIN_div_Submit {
	float:left;
}
.LOGIN_div_Submit input{
	width:59px;
	height:47px;
	background-color:#626262;
	border:none;
	color:#ffffff;
	font:10pt 'NanumGothic-ExtraBold';
	margin:0 0 3px 10px;
	border-radius:3px;
}
.LOGOUT_div p img{
	margin-left:-4px;
}
.LOGOUT_div p > a >img{
	margin-left:-4px;
}
.LOGOUT_div p:first-child {
	font:11px 'NanumGothic-ExtraBold';
	color:#252525;	
	margin:6px 0 7px 20px;
}
.LOGOUT_div p:first-child span{
	color:#0fa633;
}
.LOGOUT_div p:first-child a{
	float:right;
	margin-right:10px;
	margin-top:-2px;
}
.LOGOUT_div p:last-child a:hover{
	text-decoration:none;
}
.LOGOUT_div p:last-child {
	text-align:center;
}
.LOGOUT_div p input{
	width:61px;
	height:19px;
	color:#626262;
	font:11px 'NanumGothic-Regular';
	background-color:#ffffff;
	border:solid 1px #dddddd; 
	border-radius:3px;
}
.userdata_input_box {
	width:168px;
	height:19px;
}
.Loginprocess_button {
	border: none;
}

.Main_row_second_div_Tutor{
	margin:8px 0 20px 0;		
}
.Main_row_second_div_Tutor div {
	float:left;
}
.Main_row_second_div_Tutor div:first-child {
	width:60px;
	margin-right:20px;
}
.Main_row_second_div_Tutor div:last-child {
	width:200px;
}
.Main_row_second_div_Tutee{
	margin-bottom:20px;
}
.Main_row_second_div_Tutee div{
	float:left;
}
.Main_row_second_div_Tutee div:first-child {
	width:60px;
	margin-right:20px;
}
.Main_row_second_div_Tutee div:last-child {
	width:200px;
}
.Main_row_second_div_Tutee > div:last-child > p:first-child{
	font-size:18px;
	font-family: 'NanumGothic-ExtraBold';
	margin-bottom:8px;
}
.Main_row_second_div_Tutee > div:last-child > p:first-child span{
	color:#2eaae0;
}
.Main_row > div:nth-child(2) > div {
	font:12px 'NanumGothic-Regular';
	color:#252525;
	height:114px;
}
.Main_row_second_div_Tutor > div:last-child > p:first-child{
	font-size:18px;
	font-family: 'NanumGothic-ExtraBold';
	margin-bottom:8px;
}
.Main_row_second_div_Tutor > div:last-child > p:first-child span{
	color:#2eaae0;
}
.Main_row_second_div_Tutee > div:last-child > p {
	margin-bottom:4px;
}
.Main_row_second_div_Tutor > div:last-child > p {
	margin-bottom:4px;
}
.Main_row_second_div_Tutee > div:last-child > p:last-child {
	text-align:right;
	margin-right:-4px;
	margin-top:6px;
}
.Main_row_second_div_Tutor > div:last-child > p:last-child {
	text-align:right;
	margin-right:-4px;
	margin-top:6px;
}
.Main_row_custmoer{
	background:url('/static/img/main_row_third_picture.png') no-repeat;
}
.Main_row_custmoer p{
	font:14px 'NanumGothic-Regular';
	color:#252525;	
	margin-left:23px;
	margin-bottom:5px;
}
.Main_row_custmoer p > span{
	font-size:12px;
}
.Main_row_custmoer p:nth-child(3) {
	margin-bottom:8px;
}
.Main_row_custmoer p:last-child {
	font:11px 'NanumGothic-Regular';
	color:#434343;	
	margin-left:34px;
}
.Main_row_custmoer p:first-child{
	font:14px 'NanumGothic-ExtraBold';
	border-bottom:solid 1px #dcdcdc;
	width:240px;
	margin:4px 0 10px 23px;
	padding-bottom:7px;
}
.Main_row_custmoer p:first-child > span{
	font-size:14px;
	color:#8fc31f;
}
.copyright div{
	float:left;
}
.copyright div:first-child{
	width:712px;
	margin-top:30px;
	font-family:'NanumGothic-Regular';
}
.copyright div:first-child p{
	margin-bottom:0;
}
.copyright div:last-child{
	width:248px;
	margin-top:36px;
}
.copyright div:last-child p{
	text-align:right;
	font:9pt 'NanumGothic-Regular';
	color:#ffffff;
}
.copyright div:last-child p a{
	text-decoration:none;
}
.copyright div:last-child p a span{
	color:#ffffff;
	font:9pt 'NanumGothic-Bold';
}
.copyright div:last-child p a span:hover {
	border-bottom:solid 1px #ffffff;
}
.special_tutee_img{
	margin:0 23px 0 -30px !important;
}
/* Select design */
.styled_select_user_time	select{
	width:148px;	
}

/* Select Design */
.styled_select {
	position:relative !important; font-weight:normal !important; margin-bottom:0 !important;

}
.styled_select:after {
    content:url('/static/img/Tutee_apply_Select');
    font-size:10.5pt;
    color:#aaa;/*
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);*/
    right:0px; top:0px;
    padding:0 0 0px;
    /*border-bottom:1px solid #ddd;*/
    position:absolute;
    pointer-events:none;
}
.styled_select:before {
    content:'';
    right:6px; top:0px;
    width:17px; height:19px;
    background:#ffffff;
    position:absolute;
    pointer-events:none;
    display:block;
}
.styled_select2 {
	position:relative !important; font-weight:normal !important; margin-bottom:0 !important;
}
.styled_select2:after {
    content:url('/static/img/Tutor_apply_Select2.png');
    font-size:10.5pt;
    color:#aaa;/*
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);*/
    right:0px; top:1px;
    padding:0 0 0px;
    /*border-bottom:1px solid #ddd;*/
    position:absolute;
    pointer-events:none;
	}
.styled_select2:before {
    content:'';
    right:1px; top:1px;
    width:17px; height:19px;
    background:#ffffff;
    position:absolute;
    pointer-events:none;
    display:block;
}	 
.styled_select3 select{
	border:solid 1px #c2c2c2;
}
.styled_select3 {
	position:relative !important; font-weight:normal !important; margin-bottom:3px !important;
}
.styled_select3:after {
    content:url('/static/img/Tutor_admin_Select2.png');
    font-size:10.5pt;
    color:#aaa;/*
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);*/
    right:1px; top:1px;
    padding:0 0 0px;
    /*border-bottom:1px solid #ddd;*/
    position:absolute;
    pointer-events:none;
	}
.styled_select3:before {
    content:'';
    right:1px; top:1px;
    height:14px;
    background:#ffffff;
    position:absolute;
    pointer-events:none;
    display:block;
}	 
.styled_select4 {
	position:relative !important; font-weight:normal !important; margin-bottom:0 !important;

}
.styled_select4:after {
    content:url('/static/img/attendance_Select.png');
    font-size:10.5pt;
    color:#aaa;/*
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);*/
    right:1px; top:1px;
    padding:0 0 0px;
    /*border-bottom:1px solid #ddd;*/
    position:absolute;
    pointer-events:none;
}
.styled_select4:before {
    content:'';
    right:6px; top:1px;
    width:17px; height:19px;
    background:#ffffff;
    position:absolute;
    pointer-events:none;
    display:block;
}	
.styled_select5 select {
	border:solid 1px #c2c2c2;
}	
.styled_select5 {
	position:relative !important; font-weight:normal !important; margin-bottom:0 !important;

}
.styled_select5:after {
    content:url('/static/img/enrichment_Select.png');
    font-size:10.5pt;
    color:#aaa;/*
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);*/
    right:1px; top:1px;
    padding:0 0 0px;
    /*border-bottom:1px solid #ddd;*/
    position:absolute;
    pointer-events:none;
}
.styled_select5:before {
    content:'';
    right:9px; top:1px;
    height:16px;
    width:10px;
    background:#ffffff;
    position:absolute;
    pointer-events:none;
    display:block;
}	

/* Notice */

.whole_notice{
	width:774px;
	text-align:center;
}
.whole_notice tr td a,
.whole_notice_footer a{
	text-decoration:none !important;
}
.whole_notice th{
	text-align:center;
	border-bottom:solid 2px #e5e5e5;
	border-top:solid 3px #34ace0;
	font:10.9pt 'NanumGothic-ExtraBold';
	color:#003567;
}
.whole_notice th:first-child {
	width:80px;
	height:41px;
	border-top:solid 3px #2b2b2b;
}
.whole_notice th:nth-child(2) {
	width:402px;
}
.whole_notice th:nth-child(3) {
	width:100px;
}
.whole_notice th:nth-child(4) {
	width:116px;
}
.whole_notice th:last-child {
	width:80px;
	border-top:solid 3px #2b2b2b;
}
.whole_notice tr td{
	height:30px;
	border-bottom:solid 1px #e5e5e5;
	color:#4c4c4c;
	font:9pt 'NanumGothic-Bold';
}
.whole_notice tr td:nth-child(2){
	color:#4c4c4c;
	font:9pt 'NanumGothic-Regular';
	text-align:left;
	}	
.whole_notice tr td:nth-child(2):hover {
	font:9pt 'NanumGothic-Bold';
}	
.whole_notice tr td:nth-child(2) a{
	color:#4c4c4c;
}
.whole_notice_write {
	text-align:right;
	margin:10px 0 0 0;
	width:774px;
}
.whole_notice_create_links{
	text-align:center;
	margin:40px 0 0 38%;
	width:774px;
	color:#4c4c4c;
	font : 9.5pt 'NanumGothic-Regular';
	height:20px;
}
.whole_notice_create_links div {
	width:24px;
	background:url('/static/img/whole_notice_pagination_background.png') no-repeat;
	color:#4c4c4c;
	float:left;
	height:17px;
	}
.whole_notice_create_links div {
	width:24px;
	background:url('/static/img/whole_notice_pagination_background.png') no-repeat;
	height:17px;
	float:left;
}
.whole_notice_create_links div a{
	color:#4c4c4c;
} 
.prev_tag_div {
	background:url('/static/img/whole_notice_icon1') no-repeat !important;
	width:58px !important;
	text-align:left;
	margin-left:auto;
}
.cur_tag_div{
	font : 9.5pt 'NanumGothic-ExtraBold';		
}
.next_tag_div{
	background:url('/static/img/whole_notice_icon2') no-repeat right !important;
	width:58px !important;
	text-align:right;
	margin-right:auto;	
}

/* notice write */

.notice_write_footer{
	width:774px;
	text-align:center;
}
.notice_write_footer input{
	font: 10pt 'NanumGothic-Bold';
	margin:50px 0 70px 0;
	border:none;
	height:26px;
	outline:none;
}
.notice_write_footer input:nth-child(3) {
	background:url('/static/img/notice_modify3.png') no-repeat;
	color:#ff8b00;
	width:46px;
	margin-right:10px;
}
.notice_write_footer input:nth-child(4) {
	background:url('/static/img/notice_modify4.png') no-repeat;
	color:#ffffff;
	width:59px;
}
.notice_write_board{
	text-align:center;
	width:774px;
}
.notice_write_board tr td{
	border-bottom:solid 1px #e5e5e5;
	border-right:solid 1px #e5e5e5;
}
.notice_write_board tr td:first-child {
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.notice_write_board tr td:last-child {
	border-right:none;
}
.notice_write_board tr:first-child {
	height:40px;
	}
.notice_write_board tr:first-child td:first-child {
	border-top:solid 3px #2b2b2b;
}
.notice_write_board tr:first-child td:last-child {
	border-top:solid 3px #34ace0;
}
.notice_write_board tr:first-child td:last-child input{
	width:635px;
	height:23px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.notice_write_board tr:nth-child(2) {
	height:38px;
}
.notice_write_board tr:nth-child(2) td:first-child{
	width:80px;
}
.notice_write_board tr:nth-child(2) td:nth-child(2){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;

}
.notice_write_board tr:nth-child(2) td:nth-child(2) input,
.notice_write_board tr:nth-child(2) td:nth-child(4) input{
	width:245px;
	height:24px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.notice_write_board tr:nth-child(2) td:nth-child(3){
	width:80px;
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.notice_write_board tr:nth-child(2) td:nth-child(4){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;
}
.notice_write_board tr:nth-child(3) {
	border-bottom:solid 2px #e5e5e5;
	height:100%;
}
.notice_write_board tr:nth-child(3) td:first-child{
	height:250px !important;
}
.notice_write_board tr:nth-child(3) td:last-child{
	height:100%;
}
.notice_write_board tr:nth-child(3) td:last-child textarea{
	resize:none;
	width:100%;
	height:250px;
	border:none;
	background-color:#f6f6f6;
	-moz-box-shadow:   inset 2px 2px 0.5px 0.5px #cdcdcd;
   -webkit-box-shadow: inset 2px 2px 0.5px 0.5px #cdcdcd;
   box-shadow:         inset 2px 2px 0.5px 0.5px #cdcdcd;
   padding:0;
   margin-bottom:-2px;
}



/*.notice_modify_board*/



.notice_modify_footer{
	width:774px;
	text-align:right;
}
.notice_modify_footer button{
	font: 12px 'NanumGothic-Bold';
	margin:10px 0 70px 0;
	border:none;
	height:26px;
	outline:none;
}
.notice_modify_footer button:nth-child(2) {
	background:url('/static/img/notice_modify3.png') no-repeat;
	color:#ff8b00;
	margin-right:10px;
	width:46px;
}
.notice_modify_footer button:last-child {
	background:url('/static/img/notice_modify4.png') no-repeat;
	color:#ffffff;
	width:62px;
}
.notice_modify_board{
	text-align:center;
	width:774px;
}
.notice_modify_board tr td{
	border-bottom:solid 1px #e5e5e5;
	border-right:solid 1px #e5e5e5;
}
.notice_modify_board tr td:first-child {
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.notice_modify_board tr td:last-child {
	border-right:none;
}
.notice_modify_board tr:first-child {
	height:40px;
	}
.notice_modify_board tr:first-child td:first-child {
	border-top:solid 3px #2b2b2b;
}
.notice_modify_board tr:first-child td:last-child {
	border-top:solid 3px #34ace0;
}
.notice_modify_board tr:first-child td:last-child input{
	width:635px;
	height:23px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.notice_modify_board tr:nth-child(2) {
	height:38px;
}
.notice_modify_board tr:nth-child(2) td:first-child{
	width:80px;
}
.notice_modify_board tr:nth-child(2) td:nth-child(2){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;
}
.notice_modify_board tr:nth-child(2) td:nth-child(2) input,
.notice_modify_board tr:nth-child(2) td:nth-child(4) input{
	width:245px;
	height:24px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.notice_modify_board tr:nth-child(2) td:nth-child(3){
	width:80px;
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.notice_modify_board tr:nth-child(2) td:nth-child(4){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;
}
.notice_modify_board tr:nth-child(3) {
	border-bottom:solid 2px #e5e5e5;
	height:100%;
}
.notice_modify_board tr:nth-child(3) td:first-child{
	height:250px;	
}
.notice_modify_board tr:nth-child(3) td:last-child{
	height:100%;
}
.notice_modify_board tr:nth-child(3) td:last-child textarea{
	resize:none;
	margin-bottom:-2px;
	width:100%;
	height:250px;
	border:none;
	background-color:#f6f6f6;
	-moz-box-shadow:   inset 2px 2px 0.5px 0.5px #cdcdcd;
   -webkit-box-shadow: inset 2px 2px 0.5px 0.5px #cdcdcd;
   box-shadow:         inset 2px 2px 0.5px 0.5px #cdcdcd;
	padding:0;
}



/* notice_view_board */

.notice_view_footer{
	width:774px;
	text-align:right;
	margin-top:10px;
}
.notice_view_footer a {
	margin:0 7px 0 0;
}
.notice_view_footer form {
	width:50px;
	height:30px;
	float:right;
}
.notice_view_footer input{
	font: 9pt 'NanumGothic-Bold';

	border:none;
	width:46px;
	height:26px;
	outline:none;
	background:url('/static/img/view_whole_notice_botton3.png') no-repeat;
	color:#707070;
}

.notice_view_board{
	text-align:center;
	width:774px;
}
.notice_view_board tr td{
	border-bottom:solid 1px #e5e5e5;
	border-right:solid 1px #e5e5e5;
}
.notice_view_board tr td:first-child {
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.notice_view_board tr td:last-child {
	border-right:none;
}
.notice_view_board tr:first-child {
	height:40px;
	}
.notice_view_board tr:first-child td:first-child {
	border-top:solid 3px #2b2b2b;
}
.notice_view_board tr:first-child td:last-child {
	border-top:solid 3px #34ace0;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Bold';	
	padding-left:38px;
}
.notice_view_board tr:nth-child(2) {
	height:38px;
}
.notice_view_board tr:nth-child(2) td:first-child{
	width:80px;
}
.notice_view_board tr:nth-child(2) td:nth-child(2){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:38px;
}
.notice_view_board tr:nth-child(2) td:nth-child(2) input,
.notice_view_board tr:nth-child(2) td:nth-child(4) input{
	width:245px;
	height:24px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.notice_view_board tr:nth-child(2) td:nth-child(3){
	width:80px;
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.notice_view_board tr:nth-child(2) td:nth-child(4){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:38px;
}
.notice_view_board tr:nth-child(3) td{
	padding:33px 20px 62px 20px;
	border-bottom:solid 2px #e5e5e5;
	background-color:#ffffff;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	height:300px;
}



/* Attendance */
.my_attendance{
	font:14px 'NanumGothic-Regular';
	color:#252525;
	margin-left:95px;
}
.my_attendance form span{
	margin-right:23px;
	font-weight:500;
}
.my_attendance form:first-child select{
	width:78px;
	height:30px;
	border:solid 1px #bdbdbd;
	padding-left:5px;
}
.my_attendance form:nth-child(2) select{
	width:64px;
	height:30px;
	border:solid 1px #bdbdbd;
	padding-left:5px;
}



.attendance_record_table2{
	width:714px;
	text-align:center;
	margin-bottom:10px;
}
.attendance_record_table2 tr td {
	border-bottom:solid 1px #dcdcdc;
}
.attendance_record_table2 tr td:first-child {
	border-right:solid 1px #dcdcdc;
	height:30px;
}
.attendance_record_table2 tr:first-child td:first-child {
	border-top:solid 3px #2b2b2b;
	width:50px;
}
.attendance_record_table2 tr:first-child td:last-child {
	border-top:solid 3px #34ace0;
	color:#000000;
	font:9pt 'NanumGothic-Bold';	
	padding-left:38px;
}
.attendance_record{
	font:14px 'NanumGothic-Regular';
	color:#252525;
}
.attendance_record form span{
	margin-right:23px;
}
.attendance_record form:first-child select{
	width:78px;
	height:30px;
	border:solid 1px #bdbdbd;
	padding-left:5px;
}
.attendance_record form:nth-child(2) select{
	width:64px;
	height:30px;
	border:solid 1px #bdbdbd;
	padding-left:5px;
}
.attendance_record form:nth-child(3) select{
	width:64px;
	height:30px;
	border:solid 1px #bdbdbd;
	padding-left:5px;
}
.attendance_record form:nth-child(4) label:first-child{
	margin-right:30px;
}
.attendance_record form:nth-child(4) select:first-child{
	width:154px;
	height:30px;
	border:solid 1px #bdbdbd;
	padding-left:5px;

}
.attendance_record form:nth-child(4) select:nth-child(2){
	width:100px;
	height:30px;
	border:solid 1px #bdbdbd;
	padding-left:5px;
}
#attendance_record_table{
	width:774px;
	margin:37px 0 50px 36px;
}
#attendance_record_table > tr:first-child {
	font:25px 'NanumGothic-Bold';
	color:#252525;
}
#attendance_record_table tr:first-child > td {
	padding-bottom:35px;
}
#attendance_record_table tr:nth-child(2) > td{
	padding-bottom:4px;
}
#attendance_record_table tr:nth-child(3) > td{
	padding-bottom:25px;
}
#attendance_record_table tr:nth-child(4) > td{
	padding-bottom:10px;
}
#attendance_record_table tr:last-child > td{
	padding-top:5px;
}

#attendance_record_table tr:nth-child(2),
#attendance_record_table tr:nth-child(3),
#attendance_record_table tr:nth-child(4)
{
	font: 13.1px 'NanumGothic-Regular';
	color:#626262;
}
#attendance_record_table tr:nth-child(4) td a{
	color:#2f65af;
}
#attendance_record_table tr:last-child {
	text-align:right;
	font:11px 'NanumGothic-Regular';
	color:#313131;
}
.attendance_record_inner_table {
	width:777px;
	text-align:center;
	color:#313131;
}
.attendance_record_inner_table tr:first-child td,
.attendance_record_inner_table tr:nth-child(2) td,
.attendance_record_inner_table tr:nth-child(3) td
{
	color:#000000;
	font:12px 'NanumGothic-Bold';
	background-color:#dbdbdc;
}
.attendance_record_inner_table tr {
	height:22px;
}
.attendance_record_inner_table tr td{
	padding:0 !important;
}
.attendance_record_inner_table tr:last-child td {
	text-align:center;
}
.attendance_record_inner_table tr:first-child td:first-child{
	width:33px;
}
.attendance_record_inner_table tr:first-child td:nth-child(2){
	width:83px;
}
.attendance_record_inner_table tr:first-child td:nth-child(3){
	width:42px;
}
.attendance_record_inner_table tr:first-child td:nth-child(4){
	width:43px;
}
.attendance_record_inner_table tr:first-child td:nth-child(5){
	width:94px;
}
.attendance_record_inner_table tr:first-child td:nth-child(6){
	width:41px;
}
.attendance_record_inner_table tr:first-child td {
	width:85px;
}
.attendance_record_inner_table tr:first-child td,
.attendance_record_inner_table tr:nth-child(2) td,
.attendance_record_inner_table tr:nth-child(3) td
{
	border-bottom:solid 1px #ffffff;
	border-right:solid 1px #ffffff;
}
.attendance_record_inner_table tr:first-child td:last-child,
.attendance_record_inner_table tr:nth-child(2) td:last-child,
.attendance_record_inner_table tr:nth-child(3) td:last-child{
	border-right:solid 1px #dbdbdc;
}
.attendance_record_inner_table tr td{
	color:#000000;
	font:11px 'NanumGothic-Regular';
}
.attendance_record_inner_table tr td{
	border-bottom:solid 1px #dbdbdc;
	border-right:solid 1px #dbdbdc;
}
.attendance_record_inner_table tr td:first-child{
	border-left:solid 1px #dbdbdc;
}



.view_board_textarea textarea{
	width:100%;
	height:100% !important;
	resize:none;
	border:none;
	overflow-y:hidden;
}



/* ADMIN */
.excel_p{
	margin-top:20px;
}
.excel_p a:hover{
	text-decoration:underline;
}
#admin_tutor_table {
	width:774px;
	text-align:center;
	}
#admin_tutor_table tr{
	height:100%;
}
#admin_tutor_table th{
	background-color:#d2d2d2;
	text-align:center;
}

#admin_tutor_table tr th,
#admin_tutor_table tr td
{
	border : solid 1px #cccccc;
	color:#000000;
	font:11px 'NanumGothic-Regular';
}
#admin_tutor_table tr th:nth-child(1){
	width:13px;
}
#admin_tutor_table tr th:nth-child(2){
	width:14px;
}
#admin_tutor_table tr th:nth-child(3){
	width:74px;
}
#admin_tutor_table tr th:nth-child(4){
	width:15px;
}
#admin_tutor_table tr th:nth-child(5){
	width:40px;
}
#admin_tutor_table tr th:nth-child(6){
	width:15px;
}
#admin_tutor_table tr th:nth-child(7){
	width:40px;
}
#admin_tutor_table tr th:nth-child(8),
#admin_tutor_table tr td:nth-child(8){
	width:60px;
}
#admin_tutor_table tr th:nth-child(9){
	width:130px;
}
#admin_tutor_table tr th:nth-child(10){
	width:px;
}
#admin_tutor_table tr td:nth-child(11){
	height:100%;
}
#admin_tutor_table tr th:nth-child(11),
#admin_tutor_table tr td:nth-child(11){
	width:100px;
}
#admin_tutor_table tr td:nth-child(11) textarea{
	width:inherit;
}
#admin_tutor_table tr td:nth-child(12) textarea{
	width:inherit;
}
#admin_tutor_table tr th:nth-child(12),
#admin_tutor_table tr td:nth-child(12){
	width:100px;
}
#admin_tutor_table tr th:nth-child(13){
	width:108px;
}




    /* TUTEE */
   
#admin_tutee_table {
	width:774px;
	text-align:center;
	}
#admin_tutee_table th{
	background-color:#d2d2d2;
	text-align:center;
}
#admin_tutee_table tr{
	height:100%;
}
#admin_tutee_table tr th,
#admin_tutee_table tr td
{
	border : solid 1px #cccccc;
	color:#000000;
	font:11px 'NanumGothic-Regular';
}
#admin_tutee_table tr th:nth-child(1),
#admin_tutee_table tr td:nth-child(1){
	width:15px;
}
#admin_tutee_table tr th:nth-child(2),
#admin_tutee_table tr td:nth-child(2){
	width:20px;
}
#admin_tutee_table tr th:nth-child(3){
	width:px;
}
#admin_tutee_table tr th:nth-child(4),
#admin_tutee_table tr td:nth-child(4){
	width:20px;
}
#admin_tutee_table tr th:nth-child(5){
	width:px;
}
#admin_tutee_table tr th:nth-child(6){
	width:30px;
}
#admin_tutee_table tr th:nth-child(7),
#admin_tutee_table tr td:nth-child(7){
	width:50px;
}
#admin_tutee_table tr th:nth-child(8),
#admin_tutee_table tr td:nth-child(8){
	width:70px;
}
#admin_tutee_table tr th:nth-child(9){
	width:px;
}
#admin_tutee_table tr th:nth-child(10){
	width:px;
}
#admin_tutee_table tr th:nth-child(11){
	width:px;
}
#admin_tutee_table tr th:nth-child(12){
	width:px;
}
#admin_tutee_table tr td:nth-child(13) textarea{
	width:inherit;
}
#admin_tutee_table tr td:nth-child(13){
	height:100%;
}
#admin_tutee_table tr th:nth-child(13),
#admin_tutee_table tr td:nth-child(13){
	width:98px;
}
#admin_tutee_table tr th:nth-child(14){
	width:110px;
}




/* calendar */

.calendar{
	width:692px;
	margin-top:20px;
}
.calendar tr td{
	width:99px;
	height:73px;
}
.calendar tr th{
	font:12px 'NanumGothic-Regular';
	color:#000000;
	text-align:center;
	border:solid 1px #dfdfe0;
	background-color:#f2f2f2;
	height:25px;
}
.calendar tr th:first-child,
.calendar tr td:first-child{
	color:#eb0000;
}
.calendar tr td{
	font:12px 'NanumGothic-Regular';
	color:#000000;
	text-align:left;
	vertical-align:top;
	border:solid 1px #dfdfe0;
	padding:5px;
}
.calendar tr td div{
	margin-bottom:5px;
}


/*question_and_answer_write*/

.question_and_answer_write{
	text-align:center;
	width:774px;
}
.question_and_answer_write tr td{
	border-bottom:solid 1px #e5e5e5;
	border-right:solid 1px #e5e5e5;
}
.question_and_answer_write tr td:first-child {
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.question_and_answer_write tr td:last-child {
	border-right:none;
}
.question_and_answer_write tr:first-child {
	height:40px;
	}
.question_and_answer_write tr:first-child td:first-child {
	border-top:solid 3px #2b2b2b;
}
.question_and_answer_write tr:first-child td:last-child {
	border-top:solid 3px #34ace0;
}
.question_and_answer_write tr:first-child td:last-child input{
	width:635px;
	height:23px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.question_and_answer_write tr:nth-child(2) {
	height:38px;
}
.question_and_answer_write tr:nth-child(2) td:first-child{
	width:80px;
}
.question_and_answer_write tr:nth-child(2) td:nth-child(2){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;

}
.question_and_answer_write tr:nth-child(2) td:nth-child(2) input,
.question_and_answer_write tr:nth-child(2) td:nth-child(4) input{
	width:245px;
	height:24px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.question_and_answer_write tr:nth-child(2) td:nth-child(3){
	width:80px;
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.question_and_answer_write tr:nth-child(2) td:nth-child(4){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;
}
.question_and_answer_write tr:nth-child(3) {
	height:38px;
}
.question_and_answer_write tr:nth-child(3) td:nth-child(2){
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;

}
.question_and_answer_write tr:nth-child(4) {
	border-bottom:solid 2px #e5e5e5;
	height:100%;
}
.question_and_answer_write tr:nth-child(4) td:first-child{
	height:250px !important;
}
.question_and_answer_write tr:nth-child(4) td:last-child{
	height:100%;
}
.question_and_answer_write tr:nth-child(4) td:last-child textarea{
	resize:none;
	width:100%;
	height:250px;
	border:none;
	background-color:#f6f6f6;
	-moz-box-shadow:   inset 2px 2px 0.5px 0.5px #cdcdcd;
   -webkit-box-shadow: inset 2px 2px 0.5px 0.5px #cdcdcd;
   box-shadow:         inset 2px 2px 0.5px 0.5px #cdcdcd;
   padding:0;
   margin-bottom:-2px;
}

.question_and_answer_write_footer{
	width:774px;
	text-align:center;
}
.question_and_answer_write_footer input{
	font: 10pt 'NanumGothic-Bold';
	margin:50px 0 70px 0;
	border:none;
	height:26px;
	outline:none;
}
.question_and_answer_write_footer input:nth-child(4) {
	background:url('/static/img/notice_modify3.png') no-repeat;
	color:#2EAAE0;
	width:46px;
	margin-right:10px;
}
.question_and_answer_write_footer input:nth-child(5) {
	background:url('/static/img/question_icon7.png') no-repeat;
	color:#ffffff;
	width:62px;
}


			/*view */
.question_and_answer_view{
	text-align:center;
	width:774px;
}
.question_and_answer_view tr td{
	border-bottom:solid 1px #e5e5e5;
	border-right:solid 1px #e5e5e5;
}
.question_and_answer_view tr td:first-child {
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.question_and_answer_view tr td:last-child {
	border-right:none;
}
.question_and_answer_view tr:first-child {
	height:40px;
	}
.question_and_answer_view tr:first-child td:first-child {
	border-top:solid 3px #2b2b2b;
}
.question_and_answer_view tr:first-child td:last-child {
	border-top:solid 3px #34ace0;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Bold';	
	padding-left:38px;
}
.question_and_answer_view tr:nth-child(2) {
	height:38px;
}
.question_and_answer_view tr:nth-child(2) td:first-child{
	width:80px;
}
.question_and_answer_view tr:nth-child(2) td:nth-child(2){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:38px;
}
.question_and_answer_view tr:nth-child(2) td:nth-child(2) input,
.question_and_answer_view tr:nth-child(2) td:nth-child(4) input{
	width:245px;
	height:24px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.question_and_answer_view tr:nth-child(2) td:nth-child(3){
	width:80px;
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.question_and_answer_view tr:nth-child(2) td:nth-child(4){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:38px;
}
.question_and_answer_view tr:nth-child(3) {
	height:38px;
}
.question_and_answer_view tr:nth-child(3) td:nth-child(2){
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:38px;
}
.question_and_answer_view tr:nth-child(4) td{
	padding:33px 20px 62px 20px;
	border-bottom:solid 2px #e5e5e5;
	background-color:#ffffff;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	height:300px;
}
.question_and_answer_view tr:nth-child(5) td{
	background-color:#fbfbfb;
	border-bottom:dashed 1px #e5e5e5;
}
.question_and_answer_view tr:nth-child(5) td:first-child{
	border-right:none;
	height:63px;
	font:12px 'NanumGothic-Bold';
	color:#4c4c4c;
}
.question_and_answer_view tr:nth-child(5) td:nth-child(2) {
	text-align:left;
	padding-left:17px;
}
.question_and_answer_view tr:nth-child(5) td:nth-child(2) textarea {
	resize:none;
	border:solid 1px #cfcfcf;
	width:605px;
	height:44px;
	font:12px 'NanumGothic-regular';
	color:#000000;
	float:left;
}
.question_and_answer_view tr:nth-child(5) td:nth-child(2) input {
	width:48px;
	height:44px;
	font:12px 'NanumGothic-Bold';
	color:#626262;
	background:url('/static/img/question_icon4.png') no-repeat;
	border:none;
	float:left;
	margin-left:6px;
}	
.question_and_answer_view tr:last-child td {
	border-bottom:solid 2px #e5e5e5 !important;
}
.question_and_answer_view tr > td > div > form {
	float:right;
}
.question_view_delete{
	width:14px;
	height:14px;
	background:url('/static/img/question_icon3.png') no-repeat;
	border:none;
}
.question_view_submit{
	width:14px;
	height:14px;
	background:url('/static/img/question_icon2.png') no-repeat;
	border:none;
	margin-right:5px;
}
.question_view_modify{
	width:14px;
	height:14px;
	background:url('/static/img/question_icon2.png') no-repeat;
	border:none;
	margin-right:5px;
}
#reply_textarea{
	resize:none;
	border:none;
	font:12px 'NanumGothic-Regular';
	color:#000000;
	background-color:#ffffff;
	height:30px;
	padding:5px 0 0 0;
	width:100%;
}
.question_reply_firsttr {
	height:30px;
}
.question_reply_firsttr td{
	border-right:none !important;
	border-bottom:none !important;
	background-color:#ffffff !important;
	padding-left:20px;
}
.question_reply_firsttr td:first-child {
	font:12px 'NanumGothic-Bold';
	color:#4c4c4c;
	text-align:left;
}
.question_reply_firsttr td:last-child {
	text-align:right;
	font:10px 'NanumGothic-Regular';
	color:#4c4c4c;
	padding-right:20px;
}
.question_reply_sectr {
	height:30px;
}
.question_reply_sectr td{
	border-right:none !important;
	border-bottom:dashed 1px #e5e5e5 !important;
	background-color:#ffffff !important;
}
.question_reply_sectr td:first-child {
	text-align:left;
	padding-left:24px;
}
.question_reply_sectr td:last-child {
	padding-right:20px;
}
.question_view_footer{
	width:774px;
	text-align:right;
	margin-top:10px;
}
.question_view_footer a {
	margin:0 7px 0 0;
}
.question_view_footer form {
	width:50px;
	height:30px;
	float:right;
}
.question_view_footer input{
	font: 9pt 'NanumGothic-Bold';

	border:none;
	width:46px;
	height:26px;
	outline:none;
	background:url('/static/img/view_whole_notice_botton3.png') no-repeat;
	color:#707070;
}

				/*modify*/
.question_and_answer_update{
	text-align:center;
	width:774px;
}
.question_and_answer_update tr td{
	border-bottom:solid 1px #e5e5e5;
	border-right:solid 1px #e5e5e5;
}
.question_and_answer_update tr td:first-child {
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.question_and_answer_update tr td:last-child {
	border-right:none;
}
.question_and_answer_update tr:first-child {
	height:40px;
	}
.question_and_answer_update tr:first-child td:first-child {
	border-top:solid 3px #2b2b2b;
}
.question_and_answer_update tr:first-child td:last-child {
	border-top:solid 3px #34ace0;
}
.question_and_answer_update tr:first-child td:last-child input{
	width:635px;
	height:23px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.question_and_answer_update tr:nth-child(2) {
	height:38px;
}
.question_and_answer_update tr:nth-child(2) td:first-child{
	width:80px;
}
.question_and_answer_update tr:nth-child(2) td:nth-child(2){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;
}
.question_and_answer_update tr:nth-child(2) td:nth-child(2) input,
.question_and_answer_update tr:nth-child(2) td:nth-child(4) input{
	width:245px;
	height:24px;
	border:solid 1px #959595;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
}
.question_and_answer_update tr:nth-child(2) td:nth-child(3){
	width:80px;
	background-color:#fbfbfb;
	font:9pt 'NanumGothic-Bold';
	color:#4c4c4c;
}
.question_and_answer_update tr:nth-child(2) td:nth-child(4){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;
}
.question_and_answer_update tr:nth-child(3) {
	height:38px;
}
.question_and_answer_update tr:nth-child(3) td:nth-child(2){
	width:308px;
	text-align:left;
	color:#000000;
	font:9pt 'NanumGothic-Regular';	
	padding-left:31px;
}
.question_and_answer_update tr:nth-child(4) {
	border-bottom:solid 2px #e5e5e5;
	height:100%;
}
.question_and_answer_update tr:nth-child(4) td:first-child{
	height:250px;	
}
.question_and_answer_update tr:nth-child(4) td:last-child{
	height:100%;
}
.question_and_answer_update tr:nth-child(4) td:last-child textarea{
	resize:none;
	width:100%;
	height:250px;
	border:none;
	background-color:#f6f6f6;
	-moz-box-shadow:   inset 2px 2px 0.5px 0.5px #cdcdcd;
   -webkit-box-shadow: inset 2px 2px 0.5px 0.5px #cdcdcd;
   box-shadow:         inset 2px 2px 0.5px 0.5px #cdcdcd;
	padding:0;
	margin-bottom:-2px;
}




.gray_button_2{
	background: url('/static/img/gray_button_3.png');
	border: 0px;
	color: #8fc31f;
	font-family: "NanumGothic-Bold";
	font-size: 12px;
	height: 26px;
	margin: 72px 0px 0px 322px;
	width: 83px;
	text-align: center;
}




/* enrichment_study */
.view_board_table tr:nth-child(3) td{
	border-right:solid 1px #dbdbdc;
}
.view_board_button_area input{
	font:12px 'NanumGothic-Bold';
	width:46px;
	height:26px;
	border:none;
}
.view_board_button_area input:first-child{
	background:url('/static/img/enrichment_view_icon1.png') no-repeat;
	color:#2eaae0;
}
.view_board_button_area input:nth-child(2){
	background:url('/static/img/enrichment_view_icon2.png') no-repeat;
	color:#ffffff;
	margin-left:5px;
}
.view_board_button_area input:nth-child(3){
	background:url('/static/img/enrichment_view_icon3.png') no-repeat;
	color:#707070;
	margin-left:5px;
}


				/*write*/
.write_board_page p:nth-child(2){
	font:11px 'NanumGothic-Bold';
	color:#252525;
}
.write_board_page p:nth-child(2) input{
	width:353px;
	height:23px;
	border:solid 1px #bfbfbf;
	text-indent:5px;
	color:#828282;
}
.write_board_page p:nth-child(3){
	font:11px 'NanumGothic-Bold';
	color:#626262;
	margin-bottom:15px;
}
.write_board_page p:nth-child(2) span{
	margin-right:25px;
}
.write_board_page p:nth-child(3) span {
	margin-right:28px;
}
.write_board_button_area {
	text-align:right;
}
.write_board_button_area input{
	font:12px 'NanumGothic-Bold';
	width:46px;
	height:26px;
	border:none;
}
.write_board_button_area input:first-child{
	background:url('/static/img/enrichment_view_icon1.png') no-repeat;
	color:#2eaae0;
}
.write_board_button_area input:nth-child(2){
	background:url('/static/img/enrichment_view_icon2.png') no-repeat;
	color:#ffffff;
	margin-left:5px;
}

.write_board_table select{
	font:10px 'NanumGothic-Regular';
	color:#252525;
	height:18px;
}
.write_board_page{
	padding-right:16px;
}
.view_board_info{
	font-family:'NanumGothic-Bold';
}
.enrichment_write_selectd label:nth-child(1) select{
	width:51px;
}
.enrichment_write_selectd label:nth-child(3) select{
	width:40px;
}
.enrichment_write_selectd label:nth-child(5) select{
	width:40px;
}
